#locations {
    display: flex;
    flex-direction: column; /* Asegura que el mapa esté arriba y las imágenes abajo */
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

#locations h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #045699;
}

#locations p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.map-container {
    margin: 20px auto;
    width: 100%;
    height: 600px;  /* Ajustar la altura del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    align-items: center; /* Asegura que las imágenes estén alineadas en el centro */
}

.images-container img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
